<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComicReaderFA"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ComicReaderFA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="application/zip" />
                <data android:scheme="content" android:mimeType="application/x-cbz" />
                <data android:scheme="content" android:mimeType="application/vnd.comicbook+zip" />
                <data android:scheme="content" android:mimeType="application/vnd.rar" />
                <data android:scheme="content" android:mimeType="application/x-rar-compressed" />
                <data android:scheme="content" android:mimeType="application/vnd.comicbook-rar" />
                <data android:scheme="content" android:mimeType="application/pdf" />
                <data android:scheme="content" android:mimeType="multipart/related" />
                <data android:scheme="content" android:mimeType="message/rfc822" />
                <data android:scheme="content" android:mimeType="application/x-mimearchive" />
                <data android:scheme="file" android:mimeType="application/zip" />
                <data android:scheme="file" android:mimeType="application/pdf" />
                <data android:scheme="file" android:mimeType="multipart/related" />
            </intent-filter>
        </activity>
    </application>

</manifest>
